# deps
node_modules

# build
dist
*.tsbuildinfo

# coverage
coverage

# env
.env
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode
.idea

# scripts
/scripts

# rules
/.cursor
.cursorrules